# Base de données
# SQLite
DATABASE_URL_SQLITE="file:./dev.db"

# PostgreSQL
DATABASE_URL_POSTGRES="postgresql://user:password@localhost:5432/your_database"

# MongoDB
MONGODB_URI="mongodb://localhost:27017/your_database"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key" # Générez une clé secrète avec : openssl rand -base64 32

# Providers d'authentification (optionnel)
GITHUB_ID=""
GITHUB_SECRET=""
GOOGLE_ID=""
GOOGLE_SECRET=""

# Configuration i18n
DEFAULT_LOCALE="fr"
AVAILABLE_LOCALES=["fr","en","de"]

# Configuration de l'application
APP_NAME="Boilerplate Next.js"
APP_URL="http://localhost:3000"
NODE_ENV="development"

# Configuration Email (optionnel)
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""
EMAIL_FROM=""
